.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# Data pasien - JANGAN PERNAH dikomit, apapun alasannya
raw_data/
data/
*.xlsx
*.csv

# Model checkpoints - taruh di HuggingFace Hub / Kaggle Dataset, bukan git
model_checkpoints/
*.pt
*.bin
*.safetensors
